#start {
    -fx-background-image: url("/img/main.jpg");
    -fx-background-size: 900 300;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#back {
    -fx-background-image: url("/img/back.jpg");
    -fx-background-size: 600 400;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#back2 {
    -fx-background-image: url("/img/back.jpg");
    -fx-background-size: 836 487;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#back3 {
    -fx-background-image: url("/img/back.jpg");
    -fx-background-size: 502 581;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#back4 {
    -fx-background-image: url("/img/back.jpg");
    -fx-background-size: 600 66;
    -fx-background-repeat: no-repeat;
    -fx-background-position:top;
}

#infoBtn {
    -fx-background-image: url("/img/moreInfo.png");
    -fx-background-size: 80 70;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#rentBtn {
    -fx-background-image: url("/img/rentIcon.png");
    -fx-background-size: 68 51;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}