#start {
    -fx-background-image: url("/img/main.jpg");
    -fx-background-size: 900 300;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#back {
    -fx-background-image: url("/img/back.jpg");
    -fx-background-size: 600 400;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#infoBtn {
    -fx-background-image: url("/img/moreInfo.png");
    -fx-background-size: 80 70;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}